# Ignore large data files
data/clinvar/*
data/prs/*
data/regulome/*
test_files/dev_test/*

# 忽略 VEP 缓存目录
.vep/

# 忽略参考基因组FASTA文件及其索引
*.fa
*.fa.*
*.fasta
*.fasta.*

# 忽略其他临时文件
to_csv.py

!.gitkeep

ensembl-vep/
*.pyc
__pycache__/

__pycache__/
*.pyc
htslib/
