<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>致病性变异预测系统</title> 
    
    <!-- 确保 favicon 路径正确 -->
    <link rel="icon" href="/static/favicon.ico">

    <script type="module" crossorigin src="/static/assets/index-csdKqaeo.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-7s34v1YJ.css">
  </head>
  <body>
    <!-- 确保只有一个 #app 元素 -->
    <div id="app">
      <router-view></router-view>
    </div>
    
    <!-- 确保脚本路径正确 -->
  </body>
</html>